
<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <!--<![endif]-->
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>byHands Responsive HTML Template</title>

    <meta name="keywords" content="Responsive HTML Template">
    <meta name="description" content="Scara Responsive HTML Template">
    <meta name="author" content="tivatheme">
{% load static %}
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'img/flower.png' %}" type="image/x-icon">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap-theme.css' %} ">
    <link rel="stylesheet" href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/font-material/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/owl.carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/nivo-slider/css/nivo-slider.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/nivo-slider/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/nivo-slider/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slider-range/css/jslider.css' %}">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'css/theme-global.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-animate.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-product.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-product-list.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme-responsive.css' %}">
    <!-- Template Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body class="index home-1">
<div id="all">
<header id="top-header">

    <div class="header-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-5 col-xs-5">
                    <div class="logo">

                    </div><!--end logo-->
                </div>
                <div class="col-lg-10 col-md-10 col-sm-7 col-xs-7">
                    <div class="topheader-navholder">
                        <div class="topheader-navholder-lf">



                        </div><!-- end topheader-navholder-lf -->
                        <div class="topheader-navholder-rg">
                            <span id="btn-menu"><i class="zmdi zmdi-menu"></i></span>
                            <nav id="main-nav">
                                <ul class="nav navbar-nav megamenu">
                                    <li class="dropdown">
                                        <a href='{%url 'polls:home' %}'>ANA SƏHİFƏ</a>

                                    </li>

                                    <li class="dropdown">
                                        <a href='{%url 'polls:etrafli' %}'>ƏTRAFLI </a>

                                    </li>
                                    <li class="dropdown">
                                        <a href=''>ENDİRİM </a>

                                    </li>
                                    <li class="dropdown">
                                        <a href='{% url 'polls:guller' %}'>GÜLLƏR</a>

                                    </li>
                                    <li class="dropdown">
                                        <a href='{% url 'polls:blogumuz' %}'>Blogumuz </a>

                                    </li>
                                    <li class="dropdown">
                                        <a href='{%url 'polls:haqqimizda' %}'>HAQQIMIZDA</a>
                                    </li>
                                    <li class="dropdown"><a href='{% url 'polls:elaqe' %}'>ƏLAQƏ</a></li>
                                </ul>
                            </nav><!-- end main-nav -->
                        </div><!-- end topheader-navholder-rg -->
                    </div><!-- end topheader-navholder -->
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</header><!-- end header -->

      {% block body %}

{%endblock%}

<footer id="footer">
    <div class="footer-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 col-sp-12">
                    <div class="block-keep block">
                        <h4 class="title_block">ÇİÇƏKLƏR HAQQINDA</h4>
                        <div class="block_content">
                            <p>Müxtəlif bitkilərdə çiçəklərin quruluşu da fərqlidir. Çiçəyin yerində bir və bir neçə toxumu olan meyvə yetişir. Çiçəkli bitkilər, adətən, toxumla çoxalır.</p>
                        </div>
                    </div>
                    <div class="social_block">
                        <ul class="links">
                            <li><a href="#"><em class="fa fa-facebook"></em><span class="unvisible">facebook</span> </a></li>
                            <li><a href="#"><em class="fa fa-twitter"></em><span class="unvisible">twitter</span> </a></li>
                            <li><a href="#"><em class="fa fa-google-plus"></em><span class="unvisible">google</span> </a></li>
                            <li><a href="#"><em class="fa fa-linkedin"></em><span class="unvisible">linkedin</span> </a></li>
                            <li><a href="#"><em class="fa fa-pinterest"></em><span class="unvisible">pinterest</span> </a></li>
                            <li class="last"><a href="#"><em class="fa fa-instagram"></em><span class="unvisible">instagram</span> </a></li>
                        </ul>
                    </div><!-- end social_block -->
                </div>

                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 col-sp-12">
                    <div class="block-html block">
                        <h4 class="title_block">Satış vaxtımız</h4>
                        <div class="block_content">
                            <p>Bazar ertəsi  Cümə ....... 8.00 - 18.00</p>
                            <p>Şənbə və Bazar ....... 10.00 - 16.00</p>
                            <p>Bayram günlərində də sizinləyik</p>
                        </div>
                    </div><!-- end block-gallery -->
                </div>
            </div><!-- end row -->
        </div>
    </div><!-- end footer-center -->

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="text-center col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12">
                   Murad Əliyev © 2017 - murad.aliyev.tqo15@gmail.com
                </div>
            </div>
        </div>
    </div><!-- end footer-copyright -->
</footer><!-- end footer -->
    <div class="go-up">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div><!-- end go-up -->
</div> <!-- end all -->
</body>
</html>