{% extends 'header.html' %}
{% block body %}
{% load static %}
{% if slide != None %}
{% for slides in slide %}


<div class="tiva-slideshow-wrapper">
<div id="tiva-slideshow" class="nivoSlider">
<a href="#" title="Slideshow image"><img class="img-responsive" src="static/{{ slides.slideshow_first_image }}" title="#caption1" alt="Slideshow image"></a>
<a href="#" title="Slideshow image"><img class="img-responsive" src="static/{{ slides.slideshow_second_image }}" title="#caption2" alt="Slideshow image"></a>
</div>
<div id="caption1" class="nivo-html-caption">
<div class="tiva-caption">
<div class="left-right hidden-xs medium_yellow_16"><span>Aksesuarlar</span></div>
<div class="left-right hidden-xs normal very_large_60">{{slides.slideshow_first_h1}}</div>
<div class="left-right  hidden-md hidden-sm hidden-xs slow medium_16">{{slides.slideshow_first_p  }}</div>
<div class="left-right hidden-xs slow"><a class="btn button btn-now" href="#" title="Sifariş et">SİFARİŞ ET</a></div>
</div>

</div>
<div id="caption2" class="nivo-html-caption">
<div class="tiva-caption">
<div class="left-right hidden-xs medium_yellow_16"><span>Aksesuarlar</span></div>
<div class="left-right hidden-xs normal very_large_60">{{slides.slideshow_second_h1  }}</div>
<div class="left-right  hidden-md hidden-sm hidden-xs slow medium_16">{{ slides.slideshow_second_p }}</div>
<div class="left-right hidden-xs slow"><a class="btn button btn-now" href="#" title="Sifariş et">Sifariş et</a></div>
</div>
</div>
</div>
{% endfor %}

{% endif %}

{% if tablecel != None %}
{% for tablecells in tablecel %}

<div id="columns" class="columns-container">
<div class="section section-banner">
<div class="container">
<div class="tv-table block">
<div class="tv-tablecell">
<div class="block-html block">
    <h4>{{tablecells.tablecell_first_h4}}</h4>
    <h3>{{tablecells.tablecell_first_h3}}</h3>
    <p class="block-htmldes">{{tablecells.tablecell_first_p}}</p>
    <a class="button btn btn-primary" href="" title="Shop now">Sifariş et</a>
</div><!--end block-html -->
</div>
<div class="tv-tablecell box-image">
<div class="banner-item effectbanner">
    <a class="image-wrap" href="#"><img class="img-responsive" src="static/{{tablecells.tablecell_first_img  }}" alt="{{ tablecells.tablecell_first_h3 }}"></a>
</div><!--end banner-item-->
</div>
</div>
<div class="tv-table block">
<div class="tv-tablecell box-image">
<div class="banner-item effectbanner">
    <a class="image-wrap" href=""><img class="img-responsive" src="static/{{tablecells.tablecell_second_img  }}" alt="{{ tablecells.tablecell_second_h3 }}"></a>
</div><!--end banner-item-->
</div>
<div class="tv-tablecell">
<div class="block-html block">
    <h4>{{ tablecells.tablecell_second_h4}}</h4>
    <h3>{{tablecells.tablecell_second_h3}}</h3>
    <p class="block-htmldes">{{tablecells.tablecell_second_p}}</p>
    <a class="button btn btn-primary" href="" title="Shop now">Sifariş et</a>
</div><!--end block-html -->
</div>
</div>
</div><!-- end container -->
</div><!-- end section-banner -->
{% endfor %}
{% endif %}
<div class="section section-tabsproduct">
<div class="container">
<!-- tabs-top -->
<div class="tabs-top block">
<div class="block-title">
<h4 class="title_block">Koleksiyaya görə satış</h4>
<!-- Nav tabs -->
<ul id="myTabs" class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#bouquets" aria-controls="bouquets" role="tab" data-toggle="tab">Buketlər</a></li>
    <li role="presentation"><a href="#weddings" aria-controls="weddings" role="tab" data-toggle="tab">Toy Nişan</a></li>
    <li role="presentation"><a href="#home-decor" aria-controls="home-decor" role="tab" data-toggle="tab">Ev</a></li>
    <li role="presentation"><a href="#popular" aria-controls="popular" role="tab" data-toggle="tab">Məhşur</a></li>
</ul>
</div><!--end title -->

<!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane active" id="bouquets">
    <div class="block_content">
        <div class="row">
{% for product_images in image %}

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12">
    <div class="product-container">
<div class="left-block">
    <div class="product-image-container">
        <a class="product_img_link" href="{% url 'polls:endirimurl' id=product_images.id %}" title="{{ product_images.product_image_name}}">
            <img src="static/{{ product_images.product_image }}" alt="<{{ product_images.product_image_name }}" class="img-responsive" width="480" height="640">
        </a>
        <span class="label-new label">{{ product_images.product_image_new }}</span>
        <span class="label-sale label">{{product_images.product_image_stock}}</span>
        <span class="label-reduction label">{{product_images.product_image_discount}} </span>
    </div>
    <div class="box-buttons">
        <a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>
        <a class="button btn quick-view" href="#" title="Quick view">
            <i class="zmdi zmdi-eye"></i>
        </a>
        <a class="button btn addToWishlist" href="#" title="Add to my wishlist">
            <i class="zmdi zmdi-favorite-outline"></i>
        </a>
        <a class="button btn add_to_compare" href="#" title="Quick view">
            <i class="zmdi zmdi-refresh-alt"></i>
        </a>
    </div>
        </div><!--end left block -->
<div class="right-block">
    <div class="product-box">
        <h5 class="name">
            <a class="product-name" href="'polls:etrafli'" title="{{ product_images.product_image_name }}">
               {{ product_images.product_image_name }}
            </a>
        </h5>
        <div class="content_price">
            <span class="price product-price">{{ product_images.product_image_sale }} </span>
            <span class="old-price product-price">{{ product_images.product_image_second_discount }}</span>
        </div>
        <div class="product_comments clearfix">
            <div class="product-rating">
                <div class="star_content">
                    <div class="star star_on"></div>
                    <div class="star star_on"></div>
                    <div class="star star_on"></div>
                    <div class="star star_on"></div>
                    <div class="star star_on"></div>
                </div>
            </div>
        </div><!-- end product_comments -->
    </div><!-- end product-box -->
</div><!--end right block -->
</div><!-- end product-container-->
</div>
{% endfor %}
</div><!-- end row -->
</div><!-- end block_content -->
</div>


<div role="tabpanel" class="tab-pane" id="weddings">
    <div class="block_content">
        <div class="row">
            {% for product_images in image %}

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12">
                <div class="product-container">
                    <div class="left-block">
                        <div class="product-image-container">
                            <a class="product_img_link" href="'endirim/'.product_images->id" title="{{product_images.product_image_name}}">
                                <img src="static/{{product_images.product_image}}" alt="{{product_images.product_image_name}}" class="img-responsive" width="480" height="640">
                            </a>
                            <span class="label-new label">{{product_images.product_image_new}}</span>
                            <span class="label-sale label">{{product_images.product_image_stock}}</span>
                            <span class="label-reduction label">{{product_images.product_image_discount}} </span>
                        </div>
                        <div class="box-buttons">
                            <a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>
                            <a class="button btn quick-view" href="#" title="Quick view">
                                <i class="zmdi zmdi-eye"></i>
                            </a>
                            <a class="button btn addToWishlist" href="#" title="Add to my wishlist">
                                <i class="zmdi zmdi-favorite-outline"></i>
                            </a>
                            <a class="button btn add_to_compare" href="#" title="Quick view">
                                <i class="zmdi zmdi-refresh-alt"></i>
                            </a>
                        </div>
                    </div><!--end left block -->
                    <div class="right-block">
                        <div class="product-box">
                            <h5 class="name">
                                <a class="product-name" href="('endirim/'.product_images->id)" title="{{product_images.product_image_name}}">
                                    {{product_images.product_image_name}}
                                </a>
                            </h5>
                            <div class="content_price">
                                <span class="price product-price">{{product_images.product_image_sale}}</span>
                                <span class="old-price product-price">{{product_images.product_image_second_discount}}</span>
                            </div>
                            <div class="product_comments clearfix">
                                <div class="product-rating">
                                    <div class="star_content">
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                    </div>
                                </div>
                            </div><!-- end product_comments -->
                        </div><!-- end product-box -->
                    </div><!--end right block -->
                </div><!-- end product-container-->
            </div>
            {% endfor %}
        </div><!-- row -->
    </div><!-- end block_content -->
</div>

<div role="tabpanel" class="tab-pane" id="home-decor">
    <div class="row">
        {% for product_images in image %}

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12">
                <div class="product-container">
                    <div class="left-block">
                        <div class="product-image-container">
                            <a class="product_img_link" href="'endirim/'.$product_images->id" title="{{product_images.product_image_name}}">
                                <img src="static/{{product_images.product_image}}" alt="{{product_images.product_image_name}}" class="img-responsive" width="480" height="640">
                            </a>
                            <span class="label-new label">{{product_images.product_image_new}}</span>
                            <span class="label-sale label">{{product_images.product_image_stock}}</span>
                            <span class="label-reduction label">{{product_images.product_image_discount}}</span>
                        </div>
                        <div class="box-buttons">
                            <a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>
                            <a class="button btn quick-view" href="#" title="Quick view">
                                <i class="zmdi zmdi-eye"></i>
                            </a>
                            <a class="button btn addToWishlist" href="#" title="Add to my wishlist">
                                <i class="zmdi zmdi-favorite-outline"></i>
                            </a>
                            <a class="button btn add_to_compare" href="#" title="Quick view">
                                <i class="zmdi zmdi-refresh-alt"></i>
                            </a>
                        </div>
                    </div><!--end left block -->
                    <div class="right-block">
                        <div class="product-box">
                            <h5 class="name">
                                <a class="product-name" href="'endirim/'.$product_images->id" title="{{product_images.product_image_name}}">
                                    {{product_images.product_image_name}}
                                </a>
                            </h5>
                            <div class="content_price">
                                <span class="price product-price">{{product_images.product_image_sale}}</span>
                                <span class="old-price product-price">{{product_images.product_image_second_discount}}</span>
                            </div>
                            <div class="product_comments clearfix">
                                <div class="product-rating">
                                    <div class="star_content">
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                    </div>
                                </div>
                            </div><!-- end product_comments -->
                        </div><!-- end product-box -->
                    </div><!--end right block -->
                </div><!-- end product-container-->
            </div>
            {% endfor %}
    </div><!-- end row@@@@@@@@@@@@@@@@@@@@@@@@ -->
</div>
<div role="tabpanel" class="tab-pane" id="popular">
    <div class="row">
        {% for product_images in image %}

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-sp-12">
                <div class="product-container">
                    <div class="left-block">
                        <div class="product-image-container">
                            <a class="product_img_link" href="'endirim/'product_images->id" title="{{product_images.product_image_name}}">
                                <img src="static/{{product_images.product_image}}" alt="{{product_images.product_image_name}}" class="img-responsive" width="480" height="640">
                            </a>
                            <span class="label-new label">{{product_images.product_image_new }}</span>
                            <span class="label-sale label">{{product_images.product_image_stock}}</span>
                            <span class="label-reduction label">{{product_images.product_image_discount}}</span>
                        </div>
                        <div class="box-buttons">
                            <a class="ajax_add_to_cart_button button btn" href="#" rel="nofollow" title="Add to cart"><i class="zmdi zmdi-shopping-cart"></i></a>
                            <a class="button btn quick-view" href="#" title="Quick view">
                                <i class="zmdi zmdi-eye"></i>
                            </a>
                            <a class="button btn addToWishlist" href="#" title="Add to my wishlist">
                                <i class="zmdi zmdi-favorite-outline"></i>
                            </a>
                            <a class="button btn add_to_compare" href="#" title="Quick view">
                                <i class="zmdi zmdi-refresh-alt"></i>
                            </a>
                        </div>
                    </div><!--end left block -->
                    <div class="right-block">
                        <div class="product-box">
                            <h5 class="name">
                                <a class="product-name" href="etrafli" title="{{product_images.product_image_name}}">
                                    {{product_images.product_image_name}}
                                </a>
                            </h5>
                            <div class="content_price">
                                <span class="price product-price">{{product_images.product_image_sale}}</span>
                                <span class="old-price product-price">{{product_images.product_image_second_discount}}</span>
                            </div>
                            <div class="product_comments clearfix">
                                <div class="product-rating">
                                    <div class="star_content">
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                        <div class="star star_on"></div>
                                    </div>
                                </div>
                            </div><!-- end product_comments -->
                        </div><!-- end product-box -->
                    </div><!--end right block -->
                </div><!-- end product-container-->
            </div>
            {% endfor %}
    </div><!-- end row -->
</div>
</div>
</div><!-- end tabs-top -->
</div><!-- end container -->
</div><!-- end section-tabsproduct -->

<div class="section section-newsletter">
<div class="container">
<!-- start newsletter -->
<div class="block-newsletter" id="block-newsletter">
<h4 class="title_block">Qeydiyyatdan keç</h4>
<p class="descript">Ən son xəbərləri almaq üçün qeydiyyatdan emaillə keçin</p>
<form action="#" method="post" class="form-inline">
<div class="form-group">
    <input class="inputNew form-control grey newsletter-input" id="newsletter-input" type="text" name="email" size="18" placeholder="Emailini  yaz...">
    <button type="submit" name="submitNewsletter" class="btn-primary btn button button-small">
        <span class="submit-icon"></span>
        <span class="submit-text">Qeyd Ol</span>
    </button>
</div>
</form>
</div><!-- end block-newsletter -->
</div>
</div><!-- end section section-newsletter -->

<section class="section section-gallery">
<div class="container">
<div class="block-gallery block">
<h4 class="title_block">Qaleriya</h4>
<p class="des-text">Çiçəkli saç bantları bunlar sizə çox yaraşacaq </p>
<div class="block_content">
<div class="row no-gutters">
    <div class="image-item col-lg-2 col-md-2 col-sm-2 col-xs-2 col-sp-4">
        <a href="{% static 'img/gallery/1.jpg' %}"><img class="img-responsive" src="{%static 'img/gallery/1.jpg'%}" alt=""></a>
    </div>
    <div class="image-item col-lg-2 col-md-2 col-sm-2 col-xs-2 col-sp-4">
        <a href="{% static 'img/gallery/2.jpg' %}"><img class="img-responsive" src="{% static 'img/gallery/2.jpg' %}" alt=""></a>
    </div>
    <div class="image-item col-lg-2 col-md-2 col-sm-2 col-xs-2 col-sp-4">
        <a href="{% static 'img/gallery/3.jpg' %}"><img class="img-responsive" src="{% static 'img/gallery/3.jpg' %}" alt=""></a>
    </div>
    <div class="image-item col-lg-2 col-md-2 col-sm-2 col-xs-2 col-sp-4">
        <a href="{% static 'img/gallery/4.jpg' %}"><img class="img-responsive" src="{% static 'img/gallery/4.jpg' %}" alt=""></a>
    </div>
    <div class="image-item col-lg-2 col-md-2 col-sm-2 col-xs-2 col-sp-4">
        <a href="{% static 'img/gallery/5.jpg' %}"><img class="img-responsive" src="{% static 'img/gallery/5.jpg' %}" alt=""></a>
    </div>
    <div class="image-item col-lg-2 col-md-2 col-sm-2 col-xs-2 col-sp-4">
        <a href="{% static 'img/gallery/6.jpg' %}"><img class="img-responsive" src="{% static 'img/gallery/6.jpg' %}" alt=""></a>
    </div>
</div>
</div>
</div><!-- end block-gallery -->
</div><!-- end container -->
</section><!-- end section-gallery -->
</div><!--end columns -->

<!-- Popup Screen -->
<div class="tiva-popup-screen">
<div class="popup-wrap" id="tiva-popupscreen">
<div class="popup">
<a class="close" href="#">&times;</a>
<form action="index" method="post" class="frm-newsletter-h1">
<h3 class="title_block">Endirim</h3>
<p>
İndi qeyd ol və hər hansı bir məhsul üzrə 20% endirim əldə edin!</p>
<div class="form-group">
<input class="form-control" type="text" name="email" size="18" placeholder="Emailini yaz...">
</div>
<button type="submit" name="submitNewsletter" class="btn button btn-primary button-small">
<span class="submit-icon"></span>
<span class="submit-text">Qeyd ol</span>
</button>
<div class="checkbox chck-popup">
<label><input type="checkbox"> Bir daha göstərmə</label>
</div>
</form>
</div>
</div>
</div>
{% load static %}

<!-- Vendor JS -->

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/owl.carousel/owl.carousel.min.js' %}"></script>
<script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/nivo-slider/js/jquery.nivo.slider.js' %}"></script>
<script src="{% static 'vendor/slider-range/js/tmpl.js' %}"></script>
<script src="{% static 'vendor/slider-range/js/jquery.dependClass-0.1.js' %}"></script>
<script src="{% static 'vendor/slider-range/js/draggable-0.1.js' %}"></script>
<script src="{% static 'vendor/slider-range/js/jquery.slider.js' %}"></script>

<!-- Template Base, Components and Settings -->
<script src="{% static 'js/theme.js' %}"></script>

{% endblock %}